/*-- Visibility --*/

.invisivel{
	display: none;
}

/*-- Buttons --*/

.btn1{
	display:inline-flex;
	height: 35px;
	width: 80px;
	padding: 0;
	background: #2938c3;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 16px;
	cursor: pointer;
	color: #ffffff;

}
.btnText{
	display: inline-block;
	align-items: center;
	
}

/*-- Colors --*/
.crimson{
	background: crimson !important;
}

.yellow{
	background: #CA7D2B !important;
}