@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #7474bf, #348ac7);
}
.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  margin-left: -100px;
}
.container2 {
  max-width: 620px;
  width: 100%;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-right: -100px;
  margin-left: 25px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #7474bf, #348ac7);
}
.container2 table {
  position: relative;
  margin-top: -50px;
  margin-left: -40px;
}
.container2 table .elements {
  font-weight: 500;
  position: relative;
}
.container2 table .dados .phones {
  white-space: nowrap;
}
.container2 table .dados hr {
  margin-top: -50px;
  margin-bottom: 10px;
}
.container2 table .dados {
  font-size: 15px;
  font-weight: 500;
}
.essa {
  position: relative;
  margin-top: -20px;
}
.zuado {
  position: absolute;
  margin-top: -60px;
}
.extended {
  max-width: 830px !important;
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.btnf {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 13px;
  font-weight: 500px;
  letter-spacing: 1px;
  border-radius: 5px;
  margin-bottom: 4px;
  letter-spacing: 1px;
  background: linear-gradient(-135deg, #7474bf, #348ac7);
}
.btnf:hover {
  background: linear-gradient(135deg, #7474bf, #348ac7);
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #348ac7;
}
form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500px;
  letter-spacing: 1px;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #7474bf, #348ac7);
}
form .button input:hover {
  background: linear-gradient(-135deg, #7474bf, #348ac7);
}

hr {
  height: 2px;
  border: none;
  background: linear-gradient(-135deg, #7474bf, #348ac7);
}
table {
  border-spacing: 60px;
}
/*-- Visibility --*/

.invisivel {
  display: none;
}
